table {
	border-collapse: collapse;
	border: gray solid 2px;
}

td {
	padding: 3px;
	border: solid 1px silver;
}

th {
	padding: 3px;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	border: solid 1px silver;
}

input {
	border: solid 1px silver;
}

textarea {
	width: 500px;
	height: 100px;
	border: solid 1px silver;
}

div.errorMessage {
	border: solid red 2px;
	color: red;
	font-weight: bold;
	margin: 20px;
	padding: 3px;
}

div.errorMessageHeader {
	color: white;
	background-color: red;
	text-align: center;
	font-weight: bold;
	padding: 3px;
}

div.debugMessage {
	border: dashed silver 1px;
	color: gray;
	font-style: italic;
	margin: 20px;
	padding: 3px;
}

div.debugMessageHeader {
	color: white;
	background-color: silver;
	text-align: center;
	font-weight: bold;
	padding: 3px;
}

#hideOptions {
	position: relative;
}

#extractOptions {
	position: absolute;
	visibility: hidden;
}
